# OAuth App Credentials from GitHub
GITHUB_API_TOKEN=

# Spotify keys needed to get current playing song and top tracks
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_CLIENT_REFRESH_TOKEN=

# Posts views and reactions
DATABASE_URL=
DEV_TO_API_KEY=

# Instagram Behold.so Feed
INSTA_FEED_KEY=
INSTA_FEED_KEY_BKP=

# Buy me a coffee - Personal Access Token
BMAC_PAT=