# OAuth App Credentials from GitHub
GITHUB_API_TOKEN=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

# Spotify keys needed to get current playing song and top tracks
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_CLIENT_REFRESH_TOKEN=

# Twitter token to get followers count
TWITTER_BEARER_TOKEN=