/* created because css modules change the class name */

.mdx-article ul,
.mdx-article ol {
  @apply my-0;
}

.mdx-article ul:not([aria-label='Social links']),
.mdx-article ol:not([aria-label='Social links']) {
  @apply flex flex-col list-none relative;
  @apply pl-24 ml-4 -mt-2 gap-6;
  counter-reset: start 1;
  & > li {
    @apply m-0 pl-0;
    &::before {
      content: counter(list-item, decimal) '.';
      position: absolute;
      font-weight: inherit;
      @apply text-tertiary-txt left-0 -ml-4;
    }
    & > ol {
      @apply m-0;
    }
    & > ol > li::before,
    & > ul > li::before {
      content: counter(list-item, disc);
      @apply m-0;
    }
  }
}

.mdx-article ul:not([aria-label='Social links']) > li::before {
  content: counter(list-item, disc);
}

article.mdx-article {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    &:hover,
    &:focus {
      & > a.anchor {
        @apply visible;
      }
    }
  }

  /* Anchor links for titles */
  a.anchor {
    @apply block invisible absolute;
    @apply h-full cursor-pointer no-underline;
    --margin: 1.25em;
    padding-right: 0.75em;
    margin-left: calc(var(--margin) * -1);
    width: calc(100% + var(--margin));
    &::after {
      @apply no-underline text-tertiary-txt;
      text-align: end;
      content: '#';
    }
  }

  /* List with [] or [x] */
  ul.contains-task-list,
  ol.contains-task-list {
    list-style: none;
    @apply pl-0;
    & li {
      @apply flex items-center gap-6;
      & input[type='checkbox'] {
        @apply w-16 h-16 text-accent;
      }
      &::before {
        content: '';
        @apply hidden;
      }
    }
    & ul,
    & ol {
      @apply m-0 ml-12;
    }
  }

  /* Social Links component */
  ul[aria-label='Social links'] {
    @apply list-none flex items-center text-secondary-txt;
  }
}

[data-rehype-pretty-code-figure] .line,
[data-rehype-pretty-code-figure] [data-line] {
  @apply px-14 border-l-2 border-transparent;
}

[data-rehype-pretty-code-figure] .line--highlighted,
[data-rehype-pretty-code-figure] [data-highlighted-line] {
  @apply bg-accent-dark/[0.06] dark:bg-accent-dark/[0.12];
  @apply border-[#5f27cd] dark:border-[#f368e0];
  & span {
    @apply relative;
  }
}

[data-rehype-pretty-code-figure] .word--highlighted,
[data-rehype-pretty-code-figure] [data-highlighted-chars] {
  @apply rounded-4 py-4 px-8 bg-accent-dark/[0.056] dark:bg-accent-dark/[0.096];
}

[data-rehype-pretty-code-figure] [data-line-numbers] > .line,
[data-rehype-pretty-code-figure] [data-line-numbers] > [data-line] {
  &::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    margin-right: 1rem;
    text-align: right;
    color: var(--color-tertiary-txt);
    opacity: 0.85;
  }
}

[data-rehype-pretty-code-figure] [data-line-numbers-max-digits='2'] > .line,
[data-rehype-pretty-code-figure]
  [data-line-numbers-max-digits='2']
  > [data-line] {
  @apply pl-6;
  &::before {
    width: 1.5rem;
  }
}

[data-rehype-pretty-code-figure] [data-line-numbers-max-digits='3'] > .line,
[data-rehype-pretty-code-figure]
  [data-line-numbers-max-digits='3']
  > [data-line] {
  @apply pl-8;
  &::before {
    width: 2rem;
  }
}

code[data-theme*=' '],
code[data-theme*=' '] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
  font-style: var(--shiki-light-font-style);
  font-weight: var(--shiki-light-font-weight);
  text-decoration: var(--shiki-light-text-decoration);
}

html.dark {
  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
    font-style: var(--shiki-dark-font-style);
    font-weight: var(--shiki-dark-font-weight);
    text-decoration: var(--shiki-dark-text-decoration);
  }
}
