* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--inter-font);
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-secondary);
}

section {
  scroll-margin-top: var(--toolbar-height);
}

article .toc {
  margin-bottom: 1.2rem;
}

article .toc .title {
  font-family: var(--manrope-font);
  font-size: calc(var(--base-font-size) * 1.5);
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 0;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  position: relative;
}

article a.anchor {
  visibility: hidden;
  position: absolute;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

article a.anchor::after {
  content: '#';
  color: rgba(var(--divider-opaque), 0.2);
  text-decoration: none;
}

article h1:hover > a.anchor,
article h2:hover > a.anchor,
article h3:hover > a.anchor,
article h4:hover > a.anchor,
article h5:hover > a.anchor,
article h6:hover > a.anchor {
  visibility: visible;
  text-decoration: none;
}

::placeholder {
  color: var(--text-tertiary);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--text-tertiary);
}

::-ms-input-placeholder {
  color: var(--text-tertiary);
}

@media (min-width: 375px) {
  body {
    line-height: 1.8;
  }
}

body.sb-show-main.sb-main-padded {
  padding: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
  html,
  body {
    scroll-behavior: auto;
  }
}
