article {
  --negative-margin: calc(-1.2rem + 2px);
}

article h2 {
  font-size: var(--font-xl);
}

article h3 {
  font-size: var(--font-lg);
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  position: relative;
  display: block;
  margin: 1.6rem 0 0.4rem;
  scroll-margin-top: calc(var(--toolbar-height) + 1.6rem);
}

article h1 {
  margin-bottom: 0;
}

article h3,
article h4 {
  margin-top: 1.2rem;
}

article h5,
article h6 {
  margin-top: 1rem;
}

article p {
  margin: 0.6rem 0;
}

article a.anchor {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  margin-left: -1em;
  padding-right: 0.5em;
}

article a.anchor::after {
  text-decoration: none;
  content: '#';
  color: rgba(var(--divider-opaque), 0.2);
}

article h1:hover > a.anchor,
article h1:focus > a.anchor,
article h2:hover > a.anchor,
article h2:focus > a.anchor,
article h3:hover > a.anchor,
article h3:focus > a.anchor,
article h4:hover > a.anchor,
article h4:focus > a.anchor,
article h5:hover > a.anchor,
article h5:focus > a.anchor,
article h6:hover > a.anchor,
article h6:focus > a.anchor {
  visibility: visible;
  text-decoration: none;
}

article ol,
article ul {
  list-style: none;
  position: relative;
  padding-left: 1.6rem;
  margin-left: 0.2rem;
  counter-reset: start 1;
}

article ul li:not(:first-of-type) {
  margin-top: 0.1rem;
}

article ol > li:before,
article ul > li:before {
  content: counter(list-item, decimal) '.';
  position: absolute;
  font-weight: 400;
  color: #6b7280;
  left: 0;
}

article ol li ol > li:before,
article ul > li:before {
  content: counter(list-item, disc);
}

article .toc {
  margin: 1.2rem 0;
}

article .toc .title {
  font-family: var(--manrope-font);
  font-weight: 600;
  font-size: var(--font-sm);
  color: var(--text-primary);
  margin-bottom: 0.4rem;
}

article img {
  border-radius: 8px;
  border: 1px solid var(--divider) !important;
  margin: 1.6rem 0;
  height: auto;
  max-width: 100%;
}

article blockquote {
  margin: 1.6rem 0;
  background: var(--primary);
  border-radius: 8px;
  border: 1px dashed var(--accent-light);
  padding: 0.6rem 1.2rem;
}

article .toc .toc-level {
  display: flex;
  flex-direction: column;
}

article .toc-item {
  align-self: flex-start;
}

@media all and (min-width: 840px) {
  article pre {
    margin: calc(calc(var(--negative-margin) * -1) + 0.4rem)
      var(--negative-margin);
    padding: calc(0.8rem + calc(calc(var(--negative-margin) * -1) / 2));
    border-radius: 12px;
  }

  article .rehype-code-title {
    margin-left: var(--negative-margin);
    margin-right: var(--negative-margin);
    padding: 0.6rem calc(0.8rem + calc(calc(var(--negative-margin) * -1) / 2));
  }
}
