:root,
.light-mode {
  --code-comments: var(--text-tertiary);
  --code-punctuation: var(--text-secondary);
  --code-selector: #1a9956;
  --code-properties: #7a4cbb;
  --code-operator: #e4873d;
  --code-function: #aa499d;
}

.dark-mode {
  --code-comments: var(--text-tertiary);
  --code-punctuation: var(--text-secondary);
  --code-selector: #26de81;
  --code-properties: #b77eee;
  --code-operator: #fed330;
  --code-function: #f368e0;
}

pre,
code,
kbd,
samp {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: var(--code-font);
}

code {
  padding: 0.2rem 0.4rem;
  background-color: var(--primary);
  color: var(--text-primary);
  border-radius: 6px;
  font-size: inherit;
  font-weight: inherit;
}

p code {
  font-size: var(--font-size-xxs);
}

pre,
code {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: var(--primary);
  color: var(--text-primary);
  overflow-x: auto;
  border-radius: 8px;
  border: 1px solid var(--divider);
  margin: 1.2rem 0;
}

pre {
  padding: 0.8rem;
}

.dark-mode pre {
  background-color: #0b152b;
}

pre pre {
  padding: 0;
  margin: 0;
  border: none;
}

pre code {
  padding: 0.4rem 0.6rem;
  border: none;
  background-color: transparent;
  color: var(--text-primary);
  font-size: var(--font-size-xxs);
  padding: 0;
  white-space: pre;
  word-wrap: normal;
}

code[class*='language-'],
pre[class*='language-'],
pre[class*='language-'] code,
.token.imports,
.token.plain-text {
  color: var(--text-primary);
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--code-properties);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.url {
  color: var(--code-selector);
}

.token.function,
.token.class-name {
  color: var(--code-function);
}

.token.boolean,
.token.number,
.token.entity,
.language-css .token.string,
.style .token.string,
.token.regex,
.token.important,
.token.variable {
  color: var(--code-operator);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--accent);
}

.token.operator,
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--code-comments);
}

.token.punctuation {
  color: var(--code-punctuation);
}
