:root,
::backdrop {
  --color-background: theme('colors.light');
  --color-divider: theme(colors.brand.950 / 12%);

  --color-toolbar: theme(colors.brand.500 / 5%);
  --color-toolbar-highlight: theme(colors.brand.600 / 8%);  

  --color-accent: theme('colors.brand.500');
  --color-accent-dark: theme('colors.brand.600');
  --color-on-accent: theme('colors.background');

  --color-primary-txt: theme('colors.dark');
  --color-secondary-txt: theme(colors.dark / 85%);
  --color-tertiary-txt: theme(colors.dark / 70%);
}

html.dark,
html.dark-inverted {
  --color-background: theme('colors.dark');
  --color-divider: theme(colors.brand.50 / 18%);

  --color-toolbar: theme(colors.brand.300 / 8%);
  --color-toolbar-highlight: theme(colors.brand.200 / 12%);  

  --color-accent: theme('colors.brand.300');
  --color-accent-dark: theme('colors.brand.200');
  --color-on-accent: theme('colors.background');

  --color-primary-txt: theme('colors.light');
  --color-secondary-txt: theme(colors.light / 85%);
  --color-tertiary-txt: theme(colors.light / 70%);
}
