:root {
  --size-scrollbar-width: 8px;
}

html,
body {
  background-color: var(--colors-background);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html,
  body {
    scroll-behavior: auto;
  }
}

a {
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

a,
a:visited {
  cursor: pointer;
  text-decoration: none;
}

button:hover:not(:disabled),
button:focus:not(:disabled),
a:hover:not(:disabled),
a:focus:not(:disabled) {
  cursor: pointer;
}

figure {
  display: block;
  position: relative;
  margin: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

figure figcaption {
  text-align: center;
  font-size: var(--fontSizes-3xs);
  margin: 0.6rem 0;
}

#root,
#__next {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: var(--sizes-max-site-width, 960px);
  margin: 0 auto;
}

input[type='text'],
input[type='email'] {
  appearance: none;
}

::selection {
  background-color: rgba(var(--card-base), 0.25);
}

::placeholder {
  color: var(--colors-text-tertiary);
  opacity: 1;
}
:-ms-input-placeholder {
  color: var(--colors-text-tertiary);
  opacity: 1;
}
::-ms-input-placeholder {
  color: var(--colors-text-tertiary);
  opacity: 1;
}

/* == Custom Scrollbar Colors == */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--colors-scrollbar-bg) var(--colors-scrollbar-thumb);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: var(--size-scrollbar-width);
}

*::-webkit-scrollbar-track {
  background: var(--colors-scrollbar-thumb);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--colors-scrollbar-bg);
  border-radius: 20px;
  border: 3px solid var(--colors-scrollbar-thumb);
}

@media screen and (min-width: 768px) {
  :root {
    --size-scrollbar-width: 12px;
  }
}

*:focus {
  outline: 2px dashed var(--colors-text-primary);
  outline-offset: 0.25rem;
}
