:root {
  --size-scrollbar-width: 8px;
}

@media screen and (min-width: 768px) {
  :root {
    --size-scrollbar-width: 12px;
  }
}

html,
body {
  @apply motion-safe:scroll-smooth bg-background accent-accent;
}

html {
  margin-left: calc(100vw - 100%);
}

body {
  @apply text-xs overflow-x-hidden;
}

button {
  @apply cursor-default;
}

a {
  @apply transition-colors cursor-pointer;
  @apply underline decoration-divider;
  @apply hocus:decoration-accent-dark;
}

a,
a * {
  @apply decoration-2 underline-offset-2;
}

figure {
  display: block;
  position: relative;
  margin: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

figure figcaption {
  @apply text-3xs;
  text-align: center;
  margin: 0.625rem 0;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
}

input[type='text'],
input[type='email'] {
  appearance: none;
}

pre,
code,
kbd,
samp {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

::selection {
  background-color: var(--color-selection);
}

::placeholder {
  color: var(--color-tertiary-txt);
  opacity: 1;
}
:-ms-input-placeholder {
  color: var(--color-tertiary-txt);
  opacity: 1;
}
::-ms-input-placeholder {
  color: var(--color-tertiary-txt);
  opacity: 1;
}

/* == Custom Scrollbar Colors == */
* {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.brand.400') var(--color-background);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: var(--size-scrollbar-width);
}

*::-webkit-scrollbar-track {
  background: var(--color-background);
}

*::-webkit-scrollbar-thumb {
  background-color: theme('colors.brand.300');
  border-radius: 20px;
  border: 3px solid var(--color-background);
}

*:focus {
  outline: 2px dashed var(--color-secondary-txt);
  outline-offset: 0.25rem;
}

/* Fix image border in Safari for lazy loading images. See https://nextjs.org/docs/api-reference/next/future/image#known-browser-bugs */
@media not all and (min-resolution: 0.001dpcm) {
  img[loading='lazy'] {
    clip-path: inset(0.5px);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::after,
  *::before {
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 1ms !important;
    transition-delay: -1ms !important;
  }
}

body main,
body section,
body article,
body article [id] {
  @apply scroll-mt-20 tablet-sm:scroll-mt-24 tablet-md:scroll-mt-28;
}
