* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  height: stretch;
}

body {
  margin: 0;
  min-height: stretch;
  min-height: 100vh;
}

section {
  scroll-margin-top: calc(var(--toolbar-height) - 1rem);
}

a,
a:visited {
  cursor: pointer;
  text-decoration: none;
}

::selection {
  background-color: rgba(var(--card-base), 0.25);
}

::placeholder {
  color: var(--text-tertiary);
  opacity: 1;
}
:-ms-input-placeholder {
  color: var(--text-tertiary);
  opacity: 1;
}
::-ms-input-placeholder {
  color: var(--text-tertiary);
  opacity: 1;
}

input[type='text'],
input[type='email'] {
  appearance: none;
}

body.sb-show-main.sb-main-padded {
  padding: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
  html,
  body {
    scroll-behavior: auto;
  }
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: stretch;
  min-height: 100vh;
  padding-top: calc(var(--toolbar-height) + 1.2rem);
}

/* == Custom Scrollbar Colors == */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-bg-color) var(--scrollbar-thumb-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-thumb-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-bg-color);
  border-radius: 20px;
  border: 3px solid var(--scrollbar-thumb-color);
}

figure {
  display: block;
  position: relative;
  margin: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

figure figcaption {
  text-align: center;
  font-style: italic;
  font-size: var(--font-3xs);
  margin: 0.6rem 0;
}
