label {
  margin-top: 1rem;
  font-weight: 500;
}

form textarea {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

form textarea {
  resize: vertical;
  min-height: 96px;
  max-height: 192px;
}

form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1.2rem 0 0;
  min-height: 40px;
  width: auto;
}

form button svg {
  margin-right: 0.4rem;
}

@media (min-width: 960px) {
  form textarea {
    min-height: 144px;
  }
}
