input,
select,
textarea {
  background: rgba(0, 0, 0, 0);
  color: var(--text-primary);
  border: 1px solid var(--divider);
  border-radius: 6px;
  min-height: 48px;
  padding: 0.4rem 0.6rem;
}

label {
  margin-top: 1rem;
  font-weight: 500;
}

form input,
form textarea {
  margin-top: 0.4rem;
}

form textarea {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

form input:focus,
form textarea:focus {
  outline-color: var(--accent);
  outline-width: 1px;
  border: 1px solid var(--accent);
}

form button:disabled,
form input:disabled,
form textarea:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

form textarea {
  resize: vertical;
  min-height: 96px;
  max-height: 192px;
}

form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1.2rem 0 0;
  min-height: 40px;
  width: auto;
}

form button svg {
  margin-right: 0.4rem;
}

@media (min-width: 960px) {
  form textarea {
    min-height: 144px;
  }
}
