@tailwind base;
@import './reset.scss';
@import './core.scss';

@tailwind components;
@tailwind utilities;

@import './colors.scss';
@import './gradients.scss';
@import './typography.scss';

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .gradient {
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }
}

/* 
  TODO: If you're using my website source code as a template,
  you might want to remove these styles but also
  please change the styling and colors to match your own style or brand
*/
html.template {
  &,
  & * {
    @apply pointer-events-none select-none saturate-125 invert;
    &::before {
      z-index: 9999;
      content: '–';
    }
  }
}
