.text-shadow {
  --text-shadow-color: rgba(0, 0, 0, 0);
  text-shadow: var(--text-shadow-size) var(--text-shadow-size) 0 var(--text-shadow-color);
}

.text-shadow.brand {
  --text-shadow-color: var(--text-shadow-brand);
}

.text-shadow.blue {
  --text-shadow-color: var(--text-shadow-blue);
}

.text-shadow.green {
  --text-shadow-color: var(--text-shadow-green);
}

.text-shadow.yellow {
  --text-shadow-color: var(--text-shadow-yellow);
}

.text-shadow.orange {
  --text-shadow-color: var(--text-shadow-orange);
}

.text-shadow.red {
  --text-shadow-color: var(--text-shadow-red);
}

.text-shadow.purple {
  --text-shadow-color: var(--text-shadow-purple);
}

.text-shadow.as-gradient.brand {
  --text-shadow-color: var(--gradient-brand);
}

.text-shadow.as-gradient.blue {
  --text-shadow-color: var(--gradient-blue);
}

.text-shadow.as-gradient.green {
  --text-shadow-color: var(--gradient-green);
}

.text-shadow.as-gradient.yellow {
  --text-shadow-color: var(--gradient-yellow);
}

.text-shadow.as-gradient.orange {
  --text-shadow-color: var(--gradient-orange);
}

.text-shadow.as-gradient.red {
  --text-shadow-color: var(--gradient-red);
}

.text-shadow.as-gradient.purple {
  --text-shadow-color: var(--gradient-purple);
}