.text-shadow {
  --text-shadow-color: rgba(0, 0, 0, 0);
  text-shadow: var(--text-shadow-size) var(--text-shadow-size) 0 var(--text-shadow-color);
}

.text-shadow.brand {
  --text-shadow-color: var(--dark-gradients-a);
}

.text-shadow.blue {
  --text-shadow-color: var(--dark-gradients-b);
}

.text-shadow.green {
  --text-shadow-color: var(--dark-gradients-c);
}

.text-shadow.yellow {
  --text-shadow-color: var(--dark-gradients-d);
}

.text-shadow.orange {
  --text-shadow-color: var(--dark-gradients-e);
}

.text-shadow.red {
  --text-shadow-color: var(--dark-gradients-f);
}

.text-shadow.purple {
  --text-shadow-color: var(--dark-gradients-g);
}

.text-shadow.as-gradient.brand {
  --text-shadow-color: var(--gradients-a);
}

.text-shadow.as-gradient.blue {
  --text-shadow-color: var(--gradients-b);
}

.text-shadow.as-gradient.green {
  --text-shadow-color: var(--gradients-c);
}

.text-shadow.as-gradient.yellow {
  --text-shadow-color: var(--gradients-d);
}

.text-shadow.as-gradient.orange {
  --text-shadow-color: var(--gradients-e);
}

.text-shadow.as-gradient.red {
  --text-shadow-color: var(--gradients-f);
}

.text-shadow.as-gradient.purple {
  --text-shadow-color: var(--gradients-g);
}