html,
body {
  @apply font-sans text-secondary-txt font-normal;
  @apply leading-normal mobile-lg:leading-relaxed;
}

body {
  @apply text-xs;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply inline-block text-primary-txt font-bold font-manrope;
}

b,
strong {
  @apply font-semibold text-primary-txt;
}

p,
small {
  @apply w-fit;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

h4 {
  @apply text-md;
}

h5 {
  @apply text-sm;
}

h6 {
  @apply text-xs;
}

small {
  @apply text-3xs;
}
