html,
body {
  @apply font-sans text-xs text-secondary-txt font-normal;
  @apply leading-normal mobile-lg:leading-relaxed;
  font-feature-settings: 'calt', 'dlig', 'case', 'ccmp', 'zero', 'ss01', 'ss02';
}

@media (min-width: 425px) {
  html,
  body {
    line-height: 1.75;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply inline-block text-primary-txt font-bold font-manrope;
  text-wrap: balance;
  p {
    font-weight: inherit;
  }
}

.balance {
  text-wrap: balance;
}

b,
strong {
  @apply font-semibold text-primary-txt;
}

p,
small {
  width: fit-content;
}

h1 {
  @apply text-3xl;
  line-height: 1.5;
}

h2 {
  @apply text-2xl;
  line-height: 1.375;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-md;
}

h6 {
  @apply text-sm;
}

p {
  font-weight: inherit;
  font-size: inherit;
}

small {
  @apply text-2xs;
}

button {
  @apply font-manrope;
}
