html,
body {
  color: var(--colors-text-secondary);
  font-weight: 500;
  line-height: 1.5;
}

@media (min-width: 425px) {
  html,
  body {
    line-height: 1.75;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  color: var(--colors-text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

b,
strong {
  color: var(--colors-text-primary);
  font-weight: 600;
}

p,
small {
  font-weight: 500;
  width: fit-content;
}

h1 {
  font-size: var(--fontSizes-3xl);
}

h2 {
  font-size: var(--fontSizes-2xl);
}

h3 {
  font-size: var(--fontSizes-xl);
}

h4 {
  font-size: var(--fontSizes-lg);
}

h5 {
  font-size: var(--fontSizes-md);
}

h6 {
  font-size: var(--fontSizes-sm);
}

p,
body {
  font-size: var(--fontSizes-xs);
}

small {
  font-size: var(--fontSizes-3xs);
}
