html,
body {
  font-family: var(--inter-font);
  font-weight: 400;
  color: var(--text-secondary);
  line-height: 1.5;
}

@media (min-width: 425px) {
  html,
  body {
    line-height: 1.75;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  font-family: var(--manrope-font);
  color: var(--text-primary);
}

h1,
h2,
h3 {
  font-weight: 700;
}

h4,
h5,
h6 {
  font-weight: 600;
}

b,
strong {
  color: var(--text-primary);
  font-weight: 500;
}

body,
small,
p {
  font-weight: 400;
}

h1 {
  font-size: var(--font-3xl);
}

h2 {
  font-size: var(--font-2xl);
}

h3 {
  font-size: var(--font-xl);
}

h4 {
  font-size: var(--font-md);
}

h5 {
  font-size: var(--font-sm);
}

h6,
p,
body {
  font-size: var(--font-xs);
}

small {
  font-size: var(--font-3xs);
}
