:root,
.light,
.light-mode {
  --system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
    
  --max-site-width: 768px;
  --toolbar-height: 56px;
  --text-shadow-size: 2px;
  --content-bottom-margin: 2.4rem;

  --error-color: #eb3b5a;

  --toast-success: rgba(121, 217, 166, 0.9);
  --toast-error: rgba(243, 137, 156, 0.7);

  --music-cards-overlay-color: rgba(255, 255, 255, 0.6);

  --cards-border-color: var(--divider);
  --cards-hover-border-color: var(--divider);
  --cards-hover-shadow-color: var(--divider);

  --scrollbar-bg-color: var(--accent-light);
  --scrollbar-thumb-color: #f2f5fc;

  --animoji-bg: #c3d1f3;
}

.dark,
.dark-mode {
  --error-color: #fc5c65;


  --toast-success: rgba(121, 217, 166, 0.6);
  --toast-error: rgba(243, 137, 156, 0.5);

  --music-cards-overlay-color: rgba(8, 15, 30, 0.6);

  --scrollbar-bg-color: var(--accent);
  --scrollbar-thumb-color: var(--primary);

  --animoji-bg: #111f40;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-bg-color) var(--scrollbar-thumb-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-thumb-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-bg-color);
  border-radius: 20px;
  border: 3px solid var(--scrollbar-thumb-color);
}
