:root,
.light,
.light-mode {
  --system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

  --scrollbar-bg-color: var(--accent-light);
  --scrollbar-thumb-color: #f2f5fc;

  --animoji-bg: #c3d1f3;
}

.dark,
.dark-mode {
  --scrollbar-bg-color: var(--accent);
  --scrollbar-thumb-color: var(--primary);
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-bg-color) var(--scrollbar-thumb-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-thumb-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-bg-color);
  border-radius: 20px;
  border: 3px solid var(--scrollbar-thumb-color);
}
