@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Regular'), local('FiraCode-Regular'),
        url('/static/fonts/fira-code/FiraCode-Regular.woff2') format('woff2'),
        url('/static/fonts/fira-code/FiraCode-Regular.woff') format('woff'),
        url('/static/fonts/fira-code/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Medium'), local('FiraCode-Medium'),
        url('/static/fonts/fira-code/FiraCode-Medium.woff2') format('woff2'),
        url('/static/fonts/fira-code/FiraCode-Medium.woff') format('woff'),
        url('/static/fonts/fira-code/FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code SemiBold'), local('FiraCode-SemiBold'),
        url('/static/fonts/fira-code/FiraCode-SemiBold.woff2') format('woff2'),
        url('/static/fonts/fira-code/FiraCode-SemiBold.woff') format('woff'),
        url('/static/fonts/fira-code/FiraCode-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: optional;
}