@font-face {
  font-family: 'Inter';
  src: local('Inter Regular'), local('Inter-Regular'),
    url('/static/fonts/inter/Inter-Regular.woff2') format('woff2'),
    url('/static/fonts/inter/Inter-Regular.woff') format('woff'),
    url('/static/fonts/inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Medium'), local('Inter-Medium'),
    url('/static/fonts/inter/Inter-Medium.woff2') format('woff2'),
    url('/static/fonts/inter/Inter-Medium.woff') format('woff'),
    url('/static/fonts/inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}
