@font-face {
  font-family: 'Manrope';
  src: local('Manrope Medium'), local('Manrope-Medium'),
    url('/static/fonts/manrope/Manrope-Medium.woff2') format('woff2'),
    url('/static/fonts/manrope/Manrope-Medium.woff') format('woff'),
    url('/static/fonts/manrope/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope SemiBold'), local('Manrope-SemiBold'),
    url('/static/fonts/manrope/Manrope-SemiBold.woff2') format('woff2'),
    url('/static/fonts/manrope/Manrope-SemiBold.woff') format('woff'),
    url('/static/fonts/manrope/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope Bold'), local('Manrope-Bold'),
    url('/static/fonts/manrope/Manrope-Bold.woff2') format('woff2'),
    url('/static/fonts/manrope/Manrope-Bold.woff') format('woff'),
    url('/static/fonts/manrope/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: optional;
}
