/* Basic layout definition */
.article {
  @apply flex flex-col gap-12 max-w-full;
  @apply prose prose-quoteless min-w-full;
  @apply p-0 w-full text-secondary-txt break-words;
  @apply leading-normal mobile-lg:leading-relaxed;

  & > a,
  & > button {
    @apply self-start;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    @apply relative self-start text-primary-txt;
    scroll-margin-top: var(--scrollMargin);
  }

  strong,
  b {
    @apply text-primary-txt;
  }
}

/* Headings and paragraphs margin */
.article {
  & h1 {
    @apply mt-28 mb-4 font-bold;
  }

  & h2 {
    @apply mt-20 mb-2 font-bold;
  }

  & h3,
  & h4 {
    @apply mt-12 mb-1 font-bold;
  }

  & h5,
  & h6 {
    @apply mt-6 font-semibold;
  }

  & p {
    @apply w-full m-0 mb-2;
    max-width: 69ch; // nice
  }
}

/* Default styles for links */
.article a {
  @apply decoration-2 underline-offset-2 cursor-pointer;
  @apply underline decoration-divider;
  @apply hocus:decoration-accent-dark;
}

.article ul[aria-label='Social links'] {
  @apply p-0;
  & > li {
    @apply p-0 m-0 text-tertiary-txt;
  }
}

.article details[data-type='toc'] {
  @apply mb-8;
  & summary {
    @apply font-manrope font-bold text-sm text-primary-txt cursor-pointer;
    & > span {
      @apply ml-8;
    }
  }
  & > ol {
    @apply mt-4;
  }
  & ol {
    @apply flex flex-col gap-2;
  }
  & li {
    @apply self-start;
  }
  & > nav {
    @apply my-8;
  }
}

.article code {
  @apply py-2 px-4 text-2xs bg-accent-dark/[0.036];
  @apply border border-divider rounded-6;
  @apply font-normal;
  color: inherit;
  box-decoration-break: clone;
}

.article pre {
  @apply opacity-100 rounded-8 border border-divider;
  @apply bg-accent-dark/[0.036] mt-0 mb-12 px-0;
  color: inherit;
}

.article [data-rehype-pretty-code-figure] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent;
  @apply p-0 text-2xs font-normal;
  line-height: 2;
  counter-reset: line;
  box-decoration-break: clone;
}

.article [data-rehype-pretty-code-title] {
  @apply border border-divider;
  @apply rounded-tl-8 rounded-tr-8;
  @apply text-secondary-txt bg-background;
  @apply mt-2 font-mono text-2xs py-8 px-12 text-start;
}

.article [data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-tl-none rounded-tr-none border-t-0;
}

.article mark {
  @apply p-3 text-on-accent;
  @apply bg-[#5f27cd] dark:bg-[#f368e0];
}

.article blockquote {
  @apply bg-accent-dark/[0.036] border-0 border-l-[0.25rem] border-divider;
  @apply pt-16 py-14 pr-12 rounded-4 my-4 text-secondary-txt font-normal;
  & img {
    @apply mt-16 mb-8;
  }
}

.article span[role='img'][aria-label] {
  @apply mx-2;
}

.article img {
  @apply w-full h-auto rounded-8;
}

.article video,
.article img {
  @apply my-8;
}

.article figure {
  @apply mt-4;
  figcaption {
    @apply text-tertiary-txt;
  }
}

.article * figure {
  @apply mt-6 mb-0;
}
