/* Basic layout definition */
.article {
  @apply flex flex-col gap-16 prose prose-quoteless;
  @apply px-14 tablet-md:p-0 w-full;

  & > a,
  & > button {
    @apply self-start;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    @apply relative inline-block self-start;
    scroll-margin-top: var(--scrollMargin);
  }
}

/* Headings and paragraphs margin */
.article {
  & h1 {
    @apply mt-32 mb-8 font-bold;
  }

  & h2 {
    @apply mt-24 mb-4 font-bold;
  }

  & h3,
  & h4 {
    @apply mt-16 mb-2 font-bold;
  }

  & h5,
  & h6 {
    @apply mt-8 font-semibold;
  }

  & p {
    @apply w-full m-0;
  }
}

/* Default styles for links */
.article a {
  @apply text-accent no-underline;
  &:hover,
  &:focus {
    @apply text-accent-dark underline;
  }
}

.article ul,
.article ol {
  @apply flex flex-col list-none relative;
  @apply pl-24 ml-4 -mt-2 mb-12 gap-6;
  counter-reset: start 1;
  & > li {
    @apply m-0 pl-0;
    &::before {
      content: counter(list-item, decimal) '.';
      position: absolute;
      font-weight: inherit;
      @apply text-tertiary-txt left-0;
    }
    & > ol {
      @apply m-0;
    }
    & > ol > li::before,
    & > ul > li::before {
      content: counter(list-item, disc);
      @apply m-0;
    }
  }
}

.article ul > li::before {
  content: counter(list-item, disc);
}

.article details[data-type='toc'] {
  @apply mb-8;
  & summary {
    @apply font-manrope font-bold text-sm text-primary-txt cursor-pointer;
    & > span {
      @apply ml-8;
    }
  }
  & > ol {
    @apply mt-4;
  }
  & ol {
    @apply flex flex-col gap-2;
  }
  & li {
    @apply self-start;
  }
}

.article code {
  @apply py-2 px-4 text-2xs bg-accent-dark/[0.036];
  @apply border border-solid border-divider rounded-6;
  @apply font-normal;
}
.article p code {
  @apply text-3xs;
}

.article pre,
.article code {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: inherit;
  @apply bg-accent-dark/[0.036] overflow-x-auto mb-12;
  @apply rounded-8 border border-solid border-divider;
}

.article pre {
  @apply p-12 m-0 leading-[1.5] mobile-lg:leading-[1.75];
  & pre {
    @apply p-0 m-0 border-none;
  }
  & code {
    @apply text-3xs p-0 border-none bg-transparent;
    color: inherit;
    white-space: pre;
    word-wrap: normal;
  }
}

.article [data-rehype-pretty-code-title] {
  @apply border border-solid border-divider;
  @apply rounded-tl-8 rounded-tr-8;
  @apply text-secondary-txt bg-background;
  @apply mt-2 font-mono text-3xs py-8 px-12;
}

.article [data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-tl-0 rounded-tr-0 border-t-0;
}

.article mark {
  @apply p-3 text-on-accent;
  @apply bg-[#5f27cd] dark:bg-[#f368e0];
}

.article blockquote {
  @apply bg-accent-dark/[0.036] border-0 border-l-[0.25rem] border-solid border-divider;
  @apply pt-16 py-14 pr-12 rounded-4 my-4;
  & img {
    @apply mt-16 mb-8;
  }
}

.article span[role='img'][aria-label] {
  @apply mx-2;
}

.article img {
  @apply w-full h-auto rounded-8;
}

.article video {
  @apply my-0;
}
