article.mdx {
  /* Basic layout definition */
  @apply flex flex-col gap-3 w-full -mt-4;

  & > a,
  & > button {
    @apply self-start;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    @apply relative self-start text-primary-txt;
    &:hover > a[class*='anchor'],
    &:focus > a[class*='anchor'] {
      @apply visible opacity-100;
    }
  }

  strong,
  b {
    @apply text-primary-txt;
  }

  /* Headings and paragraphs margin */
  & h1 {
    @apply mt-8 mb-1.5;
  }

  & h2 {
    @apply mt-6 mb-1;
  }

  & h3,
  & h4 {
    @apply mt-4 mb-0.5;
  }

  & h5,
  & h6 {
    @apply mt-2 mb-px font-semibold;
  }

  & > p {
    @apply w-full max-w-nice;
  }

  /* Default styles for links */
  a {
    @apply text-accent hocus:text-accent-dark;
  }

  details[data-type='toc'] {
    @apply -mt-4 mb-4;
    @apply bg-brand-500/[0.024] dark:bg-brand-100/5;
    @apply border border-divider py-3 px-4 rounded-2;
    & summary {
      @apply font-manrope font-bold text-primary-txt cursor-pointer;
      & > span {
        @apply ml-2;
      }
      &::after {
        --action: '(Tap to open)';
        content: var(--action);
        @apply ml-2 text-tertiary-txt text-2xs;
        @media (any-hover: hover) {
          --action: '(Click to open)';
        }
      }
    }
    &[open] {
      & summary {
        &::after {
          --action: '(Tap to close)';
          @media (any-hover: hover) {
            --action: '(Click to close)';
          }
        }
      }
    }
    & > ol {
      @apply mt-1;
    }
    & ol {
      @apply flex flex-col gap-0.5;
    }
    & li {
      @apply self-start;
    }
    & > nav {
      @apply my-2;
    }
  }

  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-light, inherit);
    font-style: var(--shiki-light-font-style, inherit);
    font-weight: var(--shiki-light-font-weight, inherit);
    text-decoration: var(--shiki-light-text-decoration, inherit);
  }

  html[class*='dark'] & {
    code[data-theme*=' '],
    code[data-theme*=' '] span {
      color: var(--shiki-dark, inherit);
      font-style: var(--shiki-dark-font-style, inherit);
      font-weight: var(--shiki-dark-font-weight, inherit);
      text-decoration: var(--shiki-dark-text-decoration, inherit);
    }
  }

  code {
    @apply bg-brand-200/5 dark:bg-brand-50/5;
    @apply py-0.5 px-1 text-3xs rounded-1.5 font-normal text-inherit;
    box-decoration-break: clone;
  }

  :not(pre) code:not([data-language]) {
    &::before,
    &::after {
      content: '`';
      @apply select-none;
    }
  }

  pre {
    @apply opacity-100 rounded-2.5 border border-divider;
    @apply bg-brand-200/5 dark:bg-brand-50/5;
    @apply mt-0 mb-4 py-2.5 px-0 text-inherit overflow-x-auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }

  [data-rehype-pretty-code-figure] pre code {
    @apply grid min-w-full break-words rounded-0 border-0 bg-transparent;
    @apply p-0 leading-loose;
    counter-reset: line;
  }

  [data-rehype-pretty-code-figure] pre.has-diff .diff {
    &.add {
      @apply bg-green-100/40 dark:bg-green-500/15;
      &::before {
        content: "+";
        @apply text-green-700 dark:text-green-300;
      }
    }
    &.remove {
      user-select: none;
      @apply bg-red-100/40 dark:bg-red-500/15;
      &::before {
        content: "-";
        @apply text-red-700 dark:text-red-300;
      }
    }
    &::before {
      position: absolute;
      left: 0.75rem;
      user-select: none;
    }
  }

  [data-rehype-pretty-code-title] {
    @apply border border-divider;
    @apply rounded-t-2.5;
    @apply text-secondary-txt;
    @apply mt-0.5 mb-0 font-mono text-2xs py-2 px-3.5 text-start;
  }

  [data-rehype-pretty-code-title] + pre {
    @apply mt-0 rounded-tl-0 rounded-tr-0 border-t-0;
  }

  mark {
    @apply p-0.75 text-on-accent;
    @apply bg-[#5f27cd] dark:bg-[#f368e0];
  }

  blockquote {
    @apply bg-brand-500/[0.024] dark:bg-brand-100/5;
    @apply border border-dashed border-divider;
    @apply p-4 rounded-3 my-3 text-secondary-txt font-normal;
    & img {
      @apply mt-4 mb-2;
    }
    & p:not(:last-child):not(:first-child) {
      @apply my-1.5;
    }
  }

  span[role='img'][aria-label] {
    @apply mx-0.5;
  }

  & > video,
  & > img,
  & > [class*='grid'] img,
  & > figure > p > img {
    @apply my-1.5 rounded-1.5;
  }

  figure {
    @apply mt-1;
    figcaption {
      @apply text-tertiary-txt;
      p {
        @apply mx-auto;
      }
    }
  }

  * figure {
    @apply mt-1.5 mb-0;
  }

  ul,
  ol {
    @apply my-0;
  }

  ul,
  ol {
    @apply flex flex-col list-none relative;
    @apply pl-3 mx-1.5 -mt-0.5 gap-1.5;
    counter-reset: start 1;
    & > li {
      @apply m-0 pl-0;
      &::before {
        content: counter(list-item, decimal) '.';
        @apply absolute text-tertiary-txt left-0 -ml-1;
      }
      & > ol {
        @apply m-0;
      }
      & > ol > li::before,
      & > ul > li::before {
        content: counter(list-item, disc);
        @apply m-0;
      }
      & > p:not(:first-child) {
        @apply mt-1.5;
      }
      & > p:last-child:not(:first-child) {
        @apply mb-2;
      }
    }
  }

  ul > li::before {
    content: counter(list-item, disc);
  }

  a[class*='anchor'] {
    @apply block invisible absolute;
    @apply h-full cursor-pointer no-underline;
    @apply transition-colors opacity-0;
    --margin: 1.25em;
    padding-right: 0.75em;
    margin-left: calc(var(--margin) * -1);
    width: calc(100% + var(--margin));
    &::after {
      @apply no-underline text-tertiary-txt text-end;
      content: '#';
    }
  }

  a:has(code) {
    @apply no-underline;
  }

  & > pre > code,
  [data-rehype-pretty-code-figure] pre [data-line] {
    @apply px-3 border-l-0.5 border-transparent;
  }

  [data-rehype-pretty-code-figure] [data-highlighted-line],
  [data-rehype-pretty-code-figure] [data-highlighted-chars] {
    @apply bg-brand-500/5 dark:bg-brand-300/10;
  }

  [data-rehype-pretty-code-figure] [data-highlighted-line] {
    @apply border-[#5f27cd] dark:border-[#f368e0];
    & span {
      @apply relative;
    }
  }

  [data-rehype-pretty-code-figure] [data-highlighted-chars] {
    @apply rounded-0.5 py-0.5 px-1;
  }

  [data-rehype-pretty-code-figure] [data-line-numbers] > [data-line] {
    &::before {
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      width: 1rem;
      margin-right: 1rem;
      text-align: right;
      color: var(--color-tertiary-txt);
      opacity: 0.85;
    }
  }

  [data-rehype-pretty-code-figure]
    [data-line-numbers-max-digits='2']
    > [data-line] {
    @apply pl-1.5;
    &::before {
      width: 1.5rem;
    }
  }

  [data-rehype-pretty-code-figure]
    [data-line-numbers-max-digits='3']
    > [data-line] {
    @apply pl-2;
    &::before {
      width: 2rem;
    }
  }

  span[data-rehype-pretty-code-figure] {
    @apply inline-block break-words max-w-full;
    & code {
      @apply inline-block w-auto max-w-full;
      &::before,
      &::after {
        content: '`';
        @apply select-none;
      }
    }
  }
}
