.post img {
  display: block;
  margin: auto;
  height: auto;
  max-width: 100%;
  border-radius: 8px;
}

.post blockquote {
  margin: 1.2rem 0;
  background-color: var(--primary);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid var(--divider);
  border-left: 4px solid var(--accent-light);
  padding: 0.6rem 1.6rem;
}

.post article,
.post article .content {
  display: flex;
  flex-direction: column;
}

.post article .heroContainer {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

p.possiblecodetitle {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 1px solid var(--divider);
  margin: 1.2rem 0 0;
  padding: 0.8rem;
  font-weight: 500;
}

p.possiblecodetitle.possibleimagetitle {
  border-radius: 10px;
  margin-bottom: 0.8rem;
}

p.possiblecodetitle.possibleimagetitle em {
  display: inline-block;
  margin-bottom: 0.4rem;
}

p.possiblecodetitle.possibleimagetitle img {
  margin-top: 0.8rem;
  margin-bottom: 0.2rem;
  border-radius: 0;
}

p.possiblecodetitle.possibleimagetitle > div:first-of-type img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

p.possiblecodetitle.possibleimagetitle > div:last-of-type img {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

p.possiblecodetitle + pre[class*='language-'] {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0;
}

@media (min-width: 960px) {
  .post {
    padding: 3rem 0;
  }
}
